@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sora:wght@100..800&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.df {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.header {
    background: #0f0f0f;
    border-bottom: 1px solid #1F1F1F;
    padding: 20px 0;

    .container {
        justify-content: space-between;

    }
    .menu {
        display: none;
    }

    &__nav {
        &__ul {
            gap: 30px;

            &__li {
                &--a {
                    font-family: Sora;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 100%;
                    color: #ffffff;
                    transition: all 0.3s ease;

                    &:hover {
                        transition: all 0.3s ease;
                        background-color: #1F1F1F;
                        padding: 16px 24px;
                        border-radius: 40px;
                        border: 1px solid #2e2d2d;
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .header {
        &__nav {
            display: none;
        }

        .menu {
            display: block;
        }
    }
}

// @media (max-width: 1280px) {
//     .main {
//         .hero {
//             .container {
//                 // flex-direction: column;
//             }

//             &__wrap {
//                 max-width: 600px;
//                 width: auto;

//                 &__img {
//                     width: 720px;
//                 }
//             }
//         }

//         &__wrap {
//             max-width: 800px;
//             width: 100%;
//         }
//         .works__wrap {
//             flex-wrap: wrap;
//         }
//     }
// }


.services {
    padding: 120px 0;
    background: #0f0f0f;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        width: 100%;
    }

    &__card {
        background: #141414;
        padding: 120px 80px 80px;
        border-radius: 30px;
        transition: all 0.3s ease;

        &:hover {
            background: #1c1c1c;
        }

        @media (max-width: 1280px) {
            padding: 80px 50px 50px;
        }

        @media (max-width: 768px) {
            padding: 60px 30px 40px;
        }

        @media (max-width: 480px) {
            padding: 40px 20px 30px;
        }
    }
}

.reasons {
    padding: 150px 0;
    background: #0f0f0f;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 60px 40px;
        width: 100%;

        @media (max-width: 1280px) {
            gap: 40px 30px;
        }

        @media (max-width: 768px) {
            gap: 30px;
        }
    }

    .reason-card {
        padding-right: 50px;
        border-right: 1px solid #1b1b1b;
        transition: all 0.3s ease;

        @media (max-width: 1280px) {
            padding-right: 30px;
        }

        @media (max-width: 768px) {
            padding-right: 0;
            border-right: none;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}



.works {
    background-color: #0f0f0f;
    padding-bottom: 150px;

    .container {
        flex-direction: column;
    }

    .works__txt {
        flex-direction: column;
        max-width: 1100px;
        width: 100%;
        text-align: center;
        margin-bottom: 80px;

        &__title {
            font-family: Sora;
            font-size: 48px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;

            span {
                color: #666;
            }
        }

        &__text {
            font-family: Sora;
            font-weight: 400;
            font-size: 18px;
            color: #808080;
            line-height: 150%;
        }
    }

    .works__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 40px;

        @media (max-width: 1280px) {
            gap: 30px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }

        div {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                display: block;
                border-radius: 20px;
            }
        }
    }

    .works__btn {
        margin-top: 60px;
        padding: 18px 32px;
        border-radius: 40px;
        background: #141414;
        color: #fff;
        font-size: 18px;
        transition: 0.3s ease;
        border: 1px solid #1c1c1c;

        &:hover {
            background: #1f1f1f;
            border-color: #2e2e2e;
        }
    }
}


.main {
    .hero {
        background: #0f0f0f;
        padding: 180px 0;
        background-image: url("../img/Abstract.png");
        background-size: contain;
        background-position: left, right;
        background-repeat: no-repeat;
        position: relative;

        .container {
            // position: relative;
        }

        &__wrap {
            max-width: 800px;
            width: 100%;

            &__img {
                width: 100%;
                max-width: 960px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }

                @media (max-width: 1280px) {
                    max-width: 800px;
                }

                @media (max-width: 1024px) {
                    max-width: 650px;
                }

                @media (max-width: 1000px) {
                    display: none;
                }

            }


            h1 {
                font-family: Sora;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 58px;
                line-height: 130%;
                color: #ffffff;
                margin-bottom: 20px;

                span {
                    color: #666666;
                }
            }

            p {
                font-family: Sora;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 150%;
                color: #808080;
                margin-bottom: 60px;
            }

            :nth-child(3) {
                font-size: 20px;
                color: #ffffff;
                margin-bottom: 20px;
            }

            div {
                gap: 10px;

                button {
                    font-family: Sora;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 150%;
                    padding: 18px 24px;
                    border-radius: 40px;
                    border: none;
                    background-color: #ffffff;
                    color: #1A1A1A;

                }

                :nth-child(2) {
                    background-color: #1F1F1F;
                    border: 1px solid #2e2d2d;
                    color: #ffffff;
                }
            }

            &__img {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }

    .reasons {
        padding: 150px 0;
        text-align: center;
        color: #fff;
        background: #0f0f0f;

        .container {
            flex-direction: column;
        }

        &__wrap {
            max-width: 1160px;
            width: 100%;

            &__title {
                padding: 0 180px;
                font-family: Sora;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 48px;
                line-height: 150%;
                margin-bottom: 20px;

                span {
                    color: #666666;
                }
            }

            &__subtitle {
                font-family: Sora;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 150%;
                color: #808080;
                margin-bottom: 100px;
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px 50px;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }
    }

    @media (max-width: 1550px) {}

    .reason-card {
        flex-direction: column;
        max-width: 470px;
        width: 100%;
        padding-right: 50px;
        border-right: 1px solid #1f1f1f;
        transition: all 0.3s ease;

        &:nth-child(3n) {
            border: none;
        }

        &__icon {
            width: 95px;
            margin-bottom: 50px;
        }

        &__title {
            font-family: Sora;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 20px;
        }

        &__text {
            font-family: Sora;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 150%;
            color: #8C8C8C;
            margin-bottom: 50px;
        }

        &__btn {
            gap: 30px;
            font-family: Sora;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 150%;
            padding: 17px 18px 17px 33px;
            border: 1px solid #1F1F1F;
            border-radius: 50px;

            img {
                padding: 10px 20px;
                background-color: #1A1A1A;
                border-radius: 30px;
            }

            &:hover {
                // background: #1f1f1f;
                // border-color: #444;
            }
        }
    }

    .services {
        background: #0e0e0e;
        padding-bottom: 150px;
        color: #fff;

        .container {
            flex-direction: column;
        }

        &__wrap {
            flex-direction: column;
            text-align: center;
            max-width: 1100px;
            margin: 0 auto;

            &__title {
                font-family: Sora;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 48px;
                line-height: 150%;
                color: #ffffff;
                margin-bottom: 20px;

                span {
                    color: #666666;
                }
            }

            &__subtitle {
                font-family: Sora;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 150%;
                color: #808080;
                margin-bottom: 80px;
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        &__card {
            background: #111;
            border-radius: 20px;
            border: 1px solid #222;
            padding: 120px 80px 80px;
            transition: 0.3s ease;
            background-image: url("../img/Abstract2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;

            &__img {
                margin-bottom: 50px;
            }

            // &:hover {
            //     border-color: #333;
            //     transform: translateY(-5px);
            // }
        }
    }

    @media (max-width: 1550px) {
        .services__grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }

    .services-card {
        text-align: center;
        flex-direction: column;

        &__title {
            font-family: Sora;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 30px;
            line-height: 150%;
            color: #ffffff;
            margin-bottom: 20px;
        }

        &__text {
            font-family: Sora;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 150%;
            color: #8C8C8C;
            margin-bottom: 50px;
        }

        &__btn {
            gap: 6px;

            img {
                padding: 0;
                background: none;
            }

            &:hover {
                background: #333;
            }
        }
    }

    .works {
        background-color: #0f0f0f;
        padding-bottom: 150px;

        .container {
            flex-direction: column;
        }

        &__txt {
            flex-direction: column;
            max-width: 1100px;
            width: 100%;

            &__title {
                font-family: Sora;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 48px;
                line-height: 150%;
                color: #ffffff;
                margin-bottom: 20px;

                span {
                    color: #666666;
                }
            }

            &__text {
                font-family: Sora;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: #808080;
                margin-bottom: 80px;
            }
        }

        &__wrap {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        &__btn {
            margin-top: 50px;
            gap: 4px;
            font-family: Sora;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 150%;
            padding: 18px 24px;
            border: 1px solid #262626;
            border-radius: 40px;
            color: #fff;
        }
    }
}

@media (max-width: 1280px) {
    .works__wrap {
        grid-template-columns: 1fr !important;
    }
}